
.productsContainer {
    padding: 5px;
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
}

@media screen and (max-width: 850px) {
    .productsContainer {
        width: 90%;
        margin: 0 auto;
    }
}

.productList {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   
   flex-basis: 0;
   justify-content: center;
   margin-top: 10px;
}

.productCard {
    flex: 200px 0 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    margin: 20px;

    background-color: var(--primary-light);
    box-shadow: 5px 5px 10px var(--primary-dark);

    color: var(--white);
    text-decoration: none;
    transition: 0.4s;
}

.productCard:hover {
    transform: scale(1.02);
    transform-origin: center center;
}

.productCard .description {
    width: 100%;
    text-align: center;
}

.productCard img, h3, p {
    max-width: 100%;
}

.productCard  h3, p {
    word-wrap: break-word;
    margin: 5px 0px;
}

.productCard .interact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.productCard svg {
    width: 1.2em !important;
    height: 1.2em;
    fill: var(--white);
}

.interact > * {
    display: block;
}

.filterPanel {
    padding: 1em;
}

.panel {
    position: relative;
    padding: 15px;
    background-color: var(--primary-light);
    color: var(--white);
    width: max-content;
    transition: 0.4s;
    box-shadow: 5px 5px 10px var(--primary-dark);
}

.hidden {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.panel > h4 {
    margin: 0;
}

.panel input[type="text"] {
    background-color: var(--white);
    border-radius: 1em;
    padding: 5px;
    width: 100%;
    min-width: 200px;
}

.panel > button {
    width: 100%;
}

.closePanel {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    display: block;
    font-size: 1em;
    height: 1.5em;
    width: 1.5em !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.genreInput {
    width: 100%;
    width: max-content;
}

.filterButton {
    transition: 0.4s;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

.productList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    flex-basis: 0;
    justify-content: center;
    margin-top: 10px;
}
